# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [5]:
called = pd.read_csv('https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv')
called

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
1,2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2,2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
3,2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
4,2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0
...,...,...,...,...,...,...,...,...,...
154,2024-12-04,27170,NaN,22014,NaN,22510,NaN,-496,NaN
155,2024-12-11,36551,NaN,28883,NaN,29251,NaN,-368,NaN
156,2024-12-18,23053,NaN,27124,NaN,20767,NaN,6358,NaN
157,2024-12-24,35211,NaN,36142,NaN,32529,NaN,3613,NaN
158,2024-12-31,26027,NaN,21578,NaN,19932,NaN,1646,NaN

### Step 5. Set the column Date as the index.

In [6]:
called = called.set_index('Date')
called

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0
...,...,...,...,...,...,...,...,...
2024-12-04,27170,NaN,22014,NaN,22510,NaN,-496,NaN
2024-12-11,36551,NaN,28883,NaN,29251,NaN,-368,NaN
2024-12-18,23053,NaN,27124,NaN,20767,NaN,6358,NaN
2024-12-24,35211,NaN,36142,NaN,32529,NaN,3613,NaN
2024-12-31,26027,NaN,21578,NaN,19932,NaN,1646,NaN

### Step 6. What is the type of the index?

In [7]:
called.index.dtype

dtype('O')

### Step 7. Set the index to a DatetimeIndex type

In [8]:
called.index = pd.to_datetime(called.index)
called.index.dtype

dtype('<M8[ns]')

### Step 4.  What is the frequency of the dataset?

In [15]:
deltas = pd.Series([called.index[i + 1] - called.index[i] for i in range(len(called) - 1)])
freq = deltas.value_counts().index[0]
print(f'Frequency is approximately {freq}')

Frequency is approximately 7 days 00:00:00

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [16]:
criteria = called.index \
                        .map(lambda date: str(date.year) + '-' + str(date.month))
monthly = called.groupby(by=criteria, as_index=True) \
                           .agg('sum')
monthly.index = pd.to_datetime(monthly.index)
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-01,-18387,-16805.0,-1582,3188.0,8688,6841.0,1849,-6510.0
2011-12-01,-23657,-16659.0,-6999,2395.0,13817,9335.0,4483,-7443.0
2012-12-01,-23929,-22012.0,-1915,785.0,9828,12491.0,-2663,-13316.0
2013-12-01,8052,-5562.0,13615,4180.0,-24460,-14209.0,-10251,-12227.0
2014-12-01,-17011,-15124.0,-1887,-6141.0,-14400,-19014.0,4614,-37552.0
2015-12-01,-36337,-25116.0,-11221,-12474.0,-28678,-34571.0,5893,-77489.0
2017-01-01,-16148,-16362.0,214,-3621.0,14983,13870.0,1113,-4785.0
2017-12-01,-35122,-38565.0,3443,-6893.0,11175,12490.0,-1317,-30840.0
2019-01-01,97,1372.0,-1275,-5665.0,-1184,-8324.0,7140,-6752.0
2019-12-01,-58297,-50202.0,-8095,-5209.0,38491,28810.0,9680,-25014.0
2020-12-01,-66618,-40387.0,-26231,-2972.0,60423,50781.0,9643,-9170.0
2022-10-01,82879,0.0,55644,0.0,47435,0.0,8209,0.0
2022-11-01,82731,0.0,54314,0.0,37348,0.0,16967,0.0
2022-12-01,40451,0.0,29124,0.0,18273,0.0,10849,0.0
2022-07-01,35257,0.0,15635,0.0,11090,0.0,4545,0.0
2022-08-01,48639,0.0,32348,0.0,33705,0.0,-1357,0.0
2022-09-01,13631,0.0,10180,0.0,11629,0.0,-1449,0.0
2023-01-01,34891,0.0,7849,0.0,-9996,0.0,17845,0.0
2023-10-01,27572,0.0,13947,0.0,14375,0.0,-429,0.0
2023-11-01,114334,0.0,78791,0.0,73359,0.0,5433,0.0
2023-12-01,112558,0.0,99097,0.0,80368,0.0,18729,0.0
2023-02-01,13236,0.0,16460,0.0,6195,0.0,10264,0.0
2023-03-01,28861,0.0,3713,0.0,2500,0.0,1213,0.0
2023-04-01,39723,0.0,19058,0.0,14426,0.0,4632,0.0
2023-05-01,23789,0.0,6377,0.0,2020,0.0,4358,0.0
2023-06-01,62472,0.0,50672,0.0,39254,0.0,11416,0.0
2023-07-01,63164,0.0,46019,0.0,38479,0.0,7539,0.0
2023-08-01,18731,0.0,11968,0.0,10880,0.0,1089,0.0
2023-09-01,37875,0.0,29963,0.0,29830,0.0,133,0.0
2024-01-01,58899,0.0,36802,0.0,30780,0.0,6022,0.0
2024-12-01,148012,0.0,135741,0.0,124989,0.0,10753,0.0
2024-02-01,44151,0.0,35959,0.0,27147,0.0,8812,0.0
2024-03-01,105578,0.0,87666,0.0,76618,0.0,11047,0.0
2024-05-01,79344,0.0,51938,0.0,42353,0.0,9584,0.0
2024-06-01,79138,0.0,51872,0.0,39741,0.0,12131,0.0
2024-07-01,134078,0.0,98285,0.0,95686,0.0,2598,0.0

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [17]:
# i don't have this problem

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [18]:
criteria = monthly.index \
                         .map(lambda date: str(date.year))
yearly = monthly.groupby(by=criteria, as_index=True) \
                           .agg('sum')
yearly.index = pd.to_datetime(yearly.index)
yearly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-01-01,-42044,-33464.0,-8581,5583.0,22505,16176.0,6332,-13953.0
2012-01-01,-23929,-22012.0,-1915,785.0,9828,12491.0,-2663,-13316.0
2013-01-01,8052,-5562.0,13615,4180.0,-24460,-14209.0,-10251,-12227.0
2014-01-01,-17011,-15124.0,-1887,-6141.0,-14400,-19014.0,4614,-37552.0
2015-01-01,-36337,-25116.0,-11221,-12474.0,-28678,-34571.0,5893,-77489.0
2017-01-01,-51270,-54927.0,3657,-10514.0,26158,26360.0,-204,-35625.0
2019-01-01,-58200,-48830.0,-9370,-10874.0,37307,20486.0,16820,-31766.0
2020-01-01,-66618,-40387.0,-26231,-2972.0,60423,50781.0,9643,-9170.0
2022-01-01,303588,0.0,197245,0.0,159480,0.0,37764,0.0
2023-01-01,577206,0.0,383914,0.0,301690,0.0,82222,0.0
2024-01-01,649200,0.0,498263,0.0,437314,0.0,60947,0.0

### BONUS: Create your own question and answer it.

In [19]:
# i don't want